table {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

th, td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: .5rem;
  padding-right: .5rem;
}

.title {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.subtitle {
  text-align: center;
}

.queryContainer {
  margin-bottom: 2rem;
  padding: 2px;
  border-bottom: 2px solid grey;
}

.output {
  width: 100%;
  height: 10rem;
  overflow: auto;
  resize: vertical;
}

.dialogContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.dialog {
  position: relative;
}

.modelInput {
  width: 500px;
  height: 500px;
}

.modelButton {
  float: right;
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;
  margin-right: 2rem;
}

.closeButton {
  float:right;
}

.closeButton:hover {
  cursor: pointer;
}

.queryInput {
  width: 100%;
  height: 1.5lh;
  resize: vertical;
}

.executeButton {
}

/*

.watchCheckbox, .watchLabel {
  float: right;
}
*/
